.App {
  text-align: center;
  height: 100vh;

}

.separator {
  border: none;
  margin: 20px 0;
  background-color: #2f3237;
  color: rgb(242, 235, 235);
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
}


.content {
  display: flex;
  align-items: center;
  width: 100%;
}

.campus {
  width: 60%;
  height: 50%;
  border-radius: 10px;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.2),
    -4px -4px 15px rgba(255, 255, 255, 0.7),
    0px 8px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
}

.stevens-logo {
  width: 10%;
  height: auto;
  margin-left: 80%;
  background-color: white;
  padding: 10px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}

.title {
  text-align: center;
  margin-right: auto;
}

/* Style for NavLinks */
.navbar {
  text-align: center;
  /* Center align the nav links */
  margin-top: 20px;
}

.navbar .nav-item {
  color: red;
  text-decoration: none;
  padding: 10px 20px;
  font-size: 18px;
  display: inline-block;
  margin-right: 15px;
}

.navbar .nav-item:hover {
  color: #2f3237;
}